{% extends "base.html" %}

{% block conteudo %}
    <h2>Novo Paciente</h2>

        <form id="paciente" action="{% url 'consultas:create_paciente' %}"
              method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <button type="submit" class="btn btn-success btn-lg"
                    form="paciente" value="Salvar">Salvar</button>
            <button type="reset" class="btn btn-danger btn-lg"
                    form="paciente" value="Reset">Limpar</button>

        </form>

{% endblock conteudo %}