{% extends "base.html" %}
{% block conteudo %}
    <h1>Login</h1>
    <br />
    <form id="login" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td> {{ form.username.label_tag }} </td>
                <td class="form-control"> {{ form.username }} </td>
            </tr>
            <tr>
                <td>{{form.password.label_tag }}</td>
                <td class="form-control">{{form.password}}</td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-success btn-lg"
                            form="login" value="login">Login</button>
                    <input type="hidden" name="next" value="{{ next }}">
                </td>
            </tr>

{% endblock conteudo %}